[2015-09-27 17:10] feiniao0308 opened #3 "Failed to generate the reports due to Too many open files"
The reports can be generated successfully when it contains few xml files. However, it's failed when contains hundred of xml files:

Please help to check why it shows too many open files and how to fix it.

[code]

[2015-09-27 17:40] BogdanLivadariu commented on #3
Had similar issues with cucumber reports, will fix it on Monday and release a new version with the fix.

Thanks for the report

[2015-09-28 02:14] feiniao0308 commented on #3
Thanks a lot for the quick response :)

[2015-09-28 07:07] BogdanLivadariu commented on #3
@feiniao0308
can you update the jenkins plugin to 1.4.3 and see if the issue persists ?

I think this https://github.com/BogdanLivadariu/testng-reporting-handlebars/commit/08a27aad4fc67df6cc0159235d96d53168d97f98
should fix it, but want to double check with you, before closing this issue

[2015-09-28 08:15] feiniao0308 commented on #3
Great, the fixing works for so large number of xml files.

But I hit another issue when the xml file has large size, about 5.5 MB. And it throws another error. Do you have any idea?

[TestNGReportPublisher] Compiling TestNG Html Reports ...
[TestNG test report builder] Copying all xml files from slave: /alps/logs to master reports directory: /var/lib/jenkins/jobs/PGI_vSphereGuestOps_RHEL66_64_CRS-

[2015-09-28 08:28] feiniao0308 commented on #3
With the large xml file, Sometimes, throw following error and jenkins will be restarted.

[TestNGReportPublisher] Compiling TestNG Html Reports ...
[TestNG test report builder] Copying all xml files from slave: /alps/logs to master reports directory: /var/lib/jenkins/jobs/PGI_vSphereGuestOps_RHEL66_64_CRS-ME_Layer1/builds/2015-09-28_08-21-51/testng-reports-with-handlebars
[TestNGReportPublisher] F

[2015-09-28 08:30] BogdanLivadariu commented on #3
have you restarted jenkins after you updated the jenkins plugin ?

[2015-09-28 08:37] feiniao0308 commented on #3
Yes, I did.

[2015-09-28 08:41] feiniao0308 commented on #3
I may miss another info. My jenkins is older, the verison is really older 1.480. I rebuilt the  bootstraped-multi-test-results-report. Does it cause the compatible issue?

[2015-09-28 08:46] BogdanLivadariu commented on #3
can't you update it to 1.602

[2015-09-28 08:51] feiniao0308 commented on #3
We have some customized plugins developed based on 1.48. So we can not update directly without testing. But it's strange to me, the only one small size xml could be processing successfully, why the larger one can not. Anyway, thanks a lot for the fixing of multiple xml file issue. I'm going to close this ticket. And try to setup a latest jenkins and parse the large xml file. Will file another tick

[2015-09-28 08:51] #3 closed

[2015-09-28 08:51] BogdanLivadariu commented on #3
can you send me a zip with the xml files to : bogdan.livadariu@gmail.com ?
I have tested with a larger result file, about 10 MB.

[2015-09-28 08:57] feiniao0308 commented on #3
Send out, pls check it. Thanks!

[2015-10-22 15:48] JuanRodriguezAbarca commented on #3
Hi I am having problems using this reporting tool, as the xml generated is wrong created. It is supposed to grab the testNG xml results and convert them. But here are the logs of the issue:

[TestNG test report builder] there was an error generating the reports: javax.xml.bind.UnmarshalException
 - with linked exception:
[com.sun.istack.internal.SAXParseException2; lineNumber: 2; columnNumber: 1;

[2015-10-22 18:57] BogdanLivadariu commented on #3
Can you open a new issue on this, and attach the xml file that is causing the plugin to throw errors ?

Thanks.

[2015-10-23 09:14] JuanRodriguezAbarca opened #5 "Error generating test results parsing xml from xmlData generated folder"
During generating handlebars report in using testNG framework and Jenkins for CI a parsing errors happens reading the .xml file generated in xmlData folder. Below the relevant part of the logs and the xml file:
[code]

THE RESULT´S XML FILE:
[code]

Thanks in advance. Juan

[2015-10-23 10:16] BogdanLivadariu commented on #5
@JuanRodriguezAbarca
from the looks of it, the report xml file maps to a JUnit report, and not a testNG one.

Can you use the JUnit report builder from jenkins instead of testNG ?

[2015-10-23 10:23] BogdanLivadariu commented on #5
I was able to build you reports using the junit.
![image](https://cloud.githubusercontent.com/assets/8307102/10690255/34889564-7989-11e5-8e2e-ad1da703b050.png)
![image](https://cloud.githubusercontent.com/assets/8307102/10690262/43cae540-7989-11e5-98e9-21467fd74fbb.png)

[2015-10-23 10:24] JuanRodriguezAbarca commented on #5
Still failing but with different issue, here below the partial logs using JUnit reporting with handlebars:

[JUnitReportPublisher] Found 6 xml files.
[JUnit test report builder] 0. Found a xml file: TEST-TestSuite.xml
[JUnit test report builder] 1. Found a xml file: Testing Data Provider with myself\Clonning Excel file and verifying.xml
[JUnit test report builder] 2. Found a xml file: Testing Data

[2015-10-23 10:34] BogdanLivadariu commented on #5
can you specify the include pattern, to be something like ?
![image](https://cloud.githubusercontent.com/assets/8307102/10690442/9bf1814c-798a-11e5-8948-c1bac6df843d.png)

I'm thinking that you have not specified the report xml location, and the plugin finds more than one xml that is from a different type that he expects.

and if you want to generate results using testNG lib, you should have somet

[2015-10-23 10:35] BogdanLivadariu commented on #5
if you are still having problems, we can do a teamViewer session, and help you get through this ;)

[2015-10-23 10:42] JuanRodriguezAbarca commented on #5
I think I was setting wrong the reporter, as I was providing only the XML Reports Path, but seems that the main field is the File Include Pattern. I'll play a bit more with it and let you know.

Thank you!

[2015-10-23 10:58] JuanRodriguezAbarca commented on #5
JUnit works for me, I had to provide the results path and the TEST-*.xml included pattern! Thanks :+1:

I am having still issues with testNG, I am giving the same path and as pattern I am passing testng-results.xml. But still is failing. Bellow the logs:

[TestNGReportPublisher] Compiling TestNG Html Reports ...
[TestNG test report builder] Copying all xml files from: C:\Program Files (x86)\Jenkin

[2015-10-23 12:17] BogdanLivadariu commented on #5
can you attach the content of : `testng-results.xml`

[2015-10-23 12:23] JuanRodriguezAbarca commented on #5
here is the content of the testng-results.xml file:

<?xml version="1.0" encoding="UTF-8"?>
<testng-results skipped="0" failed="7" total="13" passed="6">
  <reporter-output>
  </reporter-output>
  <suite name="Testing Data Provider with myself" duration-ms="751" started-at="2015-10-23T12:10:58Z" finished-at="2015-10-23T12:10:58Z">
    <groups>
    </groups>
    <test name="Clonning Excel file and

[2015-10-23 12:32] BogdanLivadariu commented on #5
looks like I found the cause
you have two suites
[code]

first suite contain data, second one is empty :) are you expecting this to be so ?

[2015-10-23 12:39] BogdanLivadariu commented on #5
the problem is that I do not expect a suite to contain no data, that is why this is failing to generate the results

[2015-10-23 12:43] JuanRodriguezAbarca commented on #5
That's true, so it was my design... I've created a new suite to choose there which suites I'd like to run, but seems I didn't use a good approach...

<?xml version="1.0" encoding="UTF-8"?>
<suite name="XML runner">
    <listeners>
        <listener class-name="main.java.utils.ListenerClass"/>
    </listeners>

    <suite-files>

        <suite-file path="./mailing.xml" />
    </suite-files>
</suit

[2015-10-23 12:44] BogdanLivadariu commented on #5
looks like this can be close ? :)

[2015-10-23 12:49] JuanRodriguezAbarca commented on #5
Closed and thank you!

[2015-10-23 12:49] #5 closed

[2015-12-11 12:11] BogdanLivadariu opened #6 "Host resources used by the plugin locally, avoid pulling them through CDN."
What's your opinion on this  ?

[2015-12-11 13:12] lolberg commented on #6
:+1:

[2015-12-11 13:28] emoshaya-cognito opened #7 "Plugin install but can't find post build action"
Hi,

I'm using:
Jenkins ver. 1.640
bootstraped-multi-test-results-report 1.4.5

I've created both maven and freestyle builds but I can't for the life of me find publish cucumber report with handlebars in the post build options. Could you please explain what i'm doing wrong?

[2015-12-11 13:29] emoshaya-cognito commented on #7
also when I got to:
https://wiki.jenkins-ci.org/display/JENKINS/Bootstraped+Multi+Test+Results+Report

and click on the Github Link https://github.com/jenkinsci/bootstraped-multi-test-results-report-plugin

it seems to be broken I get a 404 page

[2015-12-11 13:57] BogdanLivadariu commented on #7
Hi @emoshaya-cognito

are there eny errors in the jenkins logs ?

feel free to join: https://gitter.im/BogdanLivadariu/bootstraped-multi-test-results-report

chatting usually goes allot faster there :)

[2015-12-11 14:18] BogdanLivadariu commented on #7
for future reference, here is the log, @emoshaya-cognito  shared on gitter.

this might come in handy, if others are scanning for closed isues
[code]

__This looks like you don't have JAVA 8 installed on the jenkins host.__

@emoshaya-cognito after you install java 8 onto the host, if this solves your problems, can you close this issue ?

[2015-12-11 14:52] emoshaya-cognito commented on #7
sure, I'll close it straight after

[2015-12-13 10:01] emoshaya-cognito commented on #7
Thanks this was resolved after I updated to Java 8

[2015-12-13 10:01] emoshaya-cognito commented on #7
Appreciate your help!

[2015-12-13 10:01] #7 closed

[2015-12-13 10:33] emoshaya-cognito opened #8 "Test Failures Causing Builds to Fail"
Not an issue per se, but an improvement request. After experimenting with this plugin, we found that the plugin was marking build as failures when their were test failures. What we would really love is to have an option to not fail the builds but mark them as unstable. Similar to https://github.com/jenkinsci/cucumber-reports-plugin which has a check box ("Ignore failed tests" Tick this if you don'

[2015-12-13 13:56] BogdanLivadariu commented on #8
@emoshaya-cognito will do

[2015-12-13 14:56] BogdanLivadariu commented on #8
@emoshaya-cognito  [this](https://github.com/BogdanLivadariu/bootstraped-multi-test-results-report/commit/85e71c8ff15688ed166ef2cfc1de2e362da1e839) should cover the feature you've requested

I will add the same support for the rest of the modules, and will release 1.4.6 on monday morning ;)

[2015-12-13 14:58] emoshaya-cognito commented on #8
absolutely fantastic! thank you very much for your time on this!

[2015-12-14 22:40] emoshaya-cognito commented on #8
Hi @BogdanLivadariu I updated the plugin just now and the builds are unstable now when there are test failures. However, I've noticed the pie charts are missing in the cucumber report.. Please see screenshot:

![screenshot](https://cloud.githubusercontent.com/assets/8818542/11796345/bc82d396-a2b3-11e5-93c1-000f844496ee.jpg)

[2015-12-15 14:30] BogdanLivadariu commented on #8
@emoshaya-cognito can you send me the reports for which the charts are not being displayed ?

[2015-12-15 15:11] emoshaya-cognito commented on #8
[cucumber_json.txt](https://github.com/BogdanLivadariu/bootstraped-multi-test-results-report/files/62635/cucumber_json.txt)

[2015-12-15 15:56] BogdanLivadariu commented on #8
Hm... Can you open the browser console an hit refresh on the report, and see if there are errors there ?

[2015-12-15 16:53] emoshaya-cognito commented on #8
Mixed Content: The page at 'https://jenkins.service.com/InventoryItemServices-CucumberTests/166/cucumber-reports-with-handlebars/' was loaded over HTTPS, but requested an insecure script 'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'. This request has been blocked; the content must be served over HTTPS.
bootstrap.min.js:6 Uncaught Error: Bootstrap's JavaScript requires jQuery
je

[2015-12-16 07:34] BogdanLivadariu commented on #8
@emoshaya-cognito looks like I will need to change the way I load resources for the report.

this is covered by #6 , hope will implement it in the following days, and release a new version.

[2016-01-08 14:35] BogdanLivadariu commented on #8
closing this as it will be covered by #6

[2016-01-08 14:35] #8 closed

[2016-02-23 17:15] santostiago opened #12 "Comply with the new Jenkins Security Settings"
In the newest versions of Jenkins, the page is shown in plain html, because of Jenkins' new security policy.
Please create a fix for this :)

[2016-02-27 16:37] BogdanLivadariu commented on #12
as a temporary solution you could do this :
![image](https://cloud.githubusercontent.com/assets/8307102/13374019/d713a7f0-dd80-11e5-9530-b9504503c126.png)

but after you restart jenkins, you'll have to do it again.

I managed to host the js /css / etc files locally, but jenkins does not allow js execution inside, so this is at the moment the thing you will have to do in allowing jenkins to execute

[2016-03-02 09:37] CyborTronik opened #16 "Cant view reports (com.google.gson.JsonSyntaxException: java.lang.IllegalStateException:)"
Using plugin version :1.4.6 with Jenkins 1.649:
 getting :
[code]
I guess is something similar to: https://github.com/damianszczepanik/cucumber-reporting-jenkins/issues/61
Find the JSON attached.

[cucumber-report.json.zip](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/154432/cucumber-report.json.zip)

[2016-03-02 10:24] CyborTronik opened #17 "Doesn't save file include pattern"
Trying to add file include pattern, then press apply&save. Open the configuration again and in 'Advanced' section everything is empty.
The same for folder.

[2016-03-02 11:34] BogdanLivadariu commented on #17
@CyborTronik
[this should be fixed in 1.4.7](
https://github.com/web-innovate/bootstraped-multi-test-results-report/pull/13)

[2016-03-02 11:36] BogdanLivadariu commented on #16
Hi @CyborTronik can you try upgrading the plugin to 1.4.7 and see if the problem persists ?

I've gave it a spin with 1.4.7 & jenkins 1.649 and there were no errors generating the report.

![image](https://cloud.githubusercontent.com/assets/8307102/13459269/21adafd4-e07b-11e5-92e8-62819e268026.png)

![image](https://cloud.githubusercontent.com/assets/8307102/13459369/bb190cc2-e07b-11e5-99dc-50a21b

[2016-03-02 12:03] CyborTronik commented on #17
Works nicely.
Thank you for fast fix

[2016-03-02 12:03] #17 closed

[2016-03-02 12:04] #16 closed

[2016-05-10 11:12] pedrodelgado81 opened #27 "Problem putting unstable project when test fails"
When one test fails, set the project to "unstable" state doesn't work. The problem is that *ReportBuilder.java (in my case TestNgReportBuilder.java) there is this conditional (line 116):
` if (ts.getTotalClassesFailed() > 1 || ts.getTotalClassesSkipped() > 1) {
                return false;
            }`
The comparission must be
`if (ts.getTotalClassesFailed() => 1 || ts.getTotalClassesSkipped()

[2016-05-10 11:25] pedrodelgado81 opened #28 "Links to resources html in report pages instead of https"
The links to the resources in html reports are  http and  https. In an https server, report pages doesn't work because server doesn't import the resources into http url (security check).

I changed the url of the resources in this file
web-innovate-bootstraped-multi-test-results-report-434d1b2\testng-reporting-handlebars\src\main\resources\testng-reporting\requiredScripts.hbs from http to https.

[2016-05-10 11:40] BogdanLivadariu commented on #28
@pedrodelgado81 this issue should get fixed with the next version 1.4.10 that I plan to release in the next hour
https://github.com/web-innovate/bootstraped-multi-test-results-report/pull/29

[2016-05-10 11:40] BogdanLivadariu commented on #27
@pedrodelgado81 this issue should get fixed with the next version 1.4.10 that I plan to release in the next hour
https://github.com/web-innovate/bootstraped-multi-test-results-report/pull/29

[2016-05-10 11:44] pedrodelgado81 commented on #28
Great!

[2016-05-10 11:46] BogdanLivadariu commented on #28
@pedrodelgado81  you could join: https://gitter.im/web-innovate/bootstraped-multi-test-results-report?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge for chatting :)
and I could give you there the 1.4.10 hpi

[2016-05-10 11:48] BogdanLivadariu commented on #28
or you could download it from here : http://repo.jenkins-ci.org/public/com/github/bogdanlivadariu/bootstraped-multi-test-results-report/1.4.10/bootstraped-multi-test-results-report-1.4.10.hpi

[2016-05-10 12:35] pedrodelgado81 commented on #28
Not Fixed, the problem still persist. The http links must be changed to https. To make it work over https  connection.

`<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-t

[2016-05-10 12:36] BogdanLivadariu commented on #28
@pedrodelgado81 silly me, I got it the other way around :)

[2016-05-10 12:38] pedrodelgado81 commented on #27
Resolved in 1.4.10

[2016-05-10 12:40] BogdanLivadariu commented on #27
@pedrodelgado81 please close the issue

[2016-05-10 12:40] #27 closed

[2016-05-10 13:15] pedrodelgado81 commented on #28
Working on 1.4.11. Great Job!

[2016-05-10 13:15] #28 closed

[2016-05-17 15:16] Vovanchik opened #32 "CUCUMBER: UNDEFINED state on step shown as PASSED"
Hello,

I am using cucumber-js framework which returns additionally **undefined** state of step. As result scenarios marked as PASSED in the report what is not correct.

Could you please show in the report also undefined state? Color: light blue, Name of state: either **UNDEFINED** or **PENDING**.

Here is the [json_report_example.txt](https://github.com/web-innovate/bootstraped-multi-test-results

[2016-05-17 15:19] Vovanchik opened #33 "CUCUMBER: No information about tags in the report"
Hello,

I am using cucumber-js framework which returns tags in the report. Is it possible to add such information as well.
[report_example.txt](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/268539/report_example.txt)

Here is the json_report_example.txt

[2016-05-18 08:51] BogdanLivadariu commented on #32
@Vovanchik is this file the actual report that cucumber-js outputs ? or you have tweaked it.
I'm asking this, because the structure of the file differs from what cucumber-java outputs ...

[2016-05-18 08:57] BogdanLivadariu commented on #32
this is the structure of cucumber-java json reports
[code]

and this is what you have provided
[code]

[2016-05-18 11:45] Vovanchik commented on #32
Hi @BogdanLivadariu,

Ops, It look's like I cut too much. :(

I am using [grunt-cucmberjs plugin](https://github.com/mavdi/grunt-cucumberjs) which producing json file.

Attaching full source in txt file.

[test-report-json.txt](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/270382/test-report-json.txt)

[2016-05-18 13:12] BogdanLivadariu commented on #32
@Vovanchik by the looks of it this report does not has undefined steps or tags

can you attach a file that has undefined steps & tagged reports ?

[2016-05-19 09:57] Vovanchik commented on #32
Ops... Hard working day.

Adding file with undefined steps.

What do you mean under tagged reports? I have only tagged scenarios.
In my file it's shown as:
`"tags": [
          {
            "name": "@PROD",
            "line": 3
          }`

[test-report-json.txt](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/272294/test-report-json.txt)

[2016-05-23 09:14] bagage opened #35 "Support of JUnit <testsuites> root tag?"
After investigating why it did not work (thanks @BogdanLivadariu), I finally found that `bootstraped-multi-test-results-report` seems not to support JUnit reports that contains several suites, for instance:

[code]

I believe that this should work though, according to [JUnit Schema XSD](https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd). I may implement support of this if you agree w

[2016-05-23 14:17] srvadlam opened #36 "Unable to display rspec json reports"
I have trying to use you plugin to display rpsec json report. The report is on slave which would be copied to master. However, when I click on the link for the report get 404 error below. Additionally, the plugin would not create directory structure required on the jenkins master
[code]

[2016-05-25 16:43] Vovanchik commented on #32
Hi,

Any updates on my issue?

[2016-06-02 15:35] BogdanLivadariu commented on #35
@bagage it does not support this sort of stuff :) it would be nice though

don't want to come with excuses, but I built this in a short period of time, without giving thought on what users might want to have in their reports, I only thought on what I want to have in the reports :)

I will add this to my TODO list

p.s How fast do you want this to be in ?:D

[2016-06-02 15:36] BogdanLivadariu commented on #36
@srvadlam  what is the target value set for the reports ?

[2016-06-02 15:37] BogdanLivadariu commented on #32
@Vovanchik I'm on vacation :) will try to fill in with updates next week, when I get back :D

[2016-06-02 15:40] bagage commented on #35
@BogdanLivadariu I can implement it myself actually (I believe). But I just wanted to be sure that you are OK to merge it upstream in the first place to ensure it's worth it :smile:

[2016-06-02 15:54] BogdanLivadariu commented on #35
@bagage innovation is always on my radar,

I think it is a good thing to see ideas happen here.

do the code, raise the PR, and we'll review it, once that is done I'll merge it and release a new version, so you could play with 💃

[2016-06-03 15:33] Vovanchik commented on #32
Have a nice vacation. Waiting for your results.

[2016-06-07 06:34] BogdanLivadariu commented on #35
@bagage I guess we can close this, thanks to you :)

[2016-06-07 07:28] #35 closed

[2016-06-23 19:53] BogdanLivadariu commented on #33
@Vovanchik the improvement to display tags for scenarios has been pushed in, and will be available in the next release 1.4.14 I guess

[2016-06-24 07:04] #32 closed

[2016-06-24 07:19] BogdanLivadariu commented on #33
@Vovanchik 1.4.14 has just been released, your fix for build passing when undefined steps are present + the two improvements, to show the tags for scenarios and adding a proper color for the undefined steps are in.

you could wait for the autoupdate, or you could just download the HPI & install it manually from here:
http://repo.jenkins-ci.org/public/com/github/bogdanlivadariu/bootstraped-multi-te

[2016-06-24 07:19] #33 closed

[2016-06-24 07:53] Vovanchik commented on #33
Thank you. Will check and let you know about results.

[2016-06-24 10:35] BogdanLivadariu commented on #36
ping @srvadlam

[2016-06-24 15:59] srsubramanian commented on #6
Waiting for this enhancement :+1:

[2016-06-24 17:11] srvadlam commented on #36
@BogdanLivadariu we have abandoned this plugin and moved on to use JUnitResultArchiver, which seems to work for now.

[2016-06-24 17:11] #36 closed

[2016-07-07 10:23] BogdanLivadariu opened #48 "Filter rules for xml/json files are not applied before copying"
` is there any reason why all xml files are copied first to master before filtering with user given filter ?`

all the test result files, should be first filtered, and then copied to the location where the plugin generates data from, as we might end-up with files there, that are not of any interest for the reports generated.

this is not a big problem, unless you have tons of result files :)

[2016-07-07 11:41] Vovanchik commented on #32
For steps it look's very good.

If some of the steps are in undefined state can we marked Scenario as PASSED instead of FAILED as it is right now.

What I see there not status field for scenarios, so plugin decided which status to set.

What do you think?

[2016-07-07 13:48] BogdanLivadariu commented on #32
@Vovanchik I guess I can add an option in the plugin config, that you can tick
so that undefined steps are ignored, and
in a scenario if you have undefined steps, scenario will be marked as passed

what do you think ?

[2016-07-07 13:49] BogdanLivadariu commented on #32
please create a new issue to cover this case, as it is an enhancement :D

[2016-07-07 14:03] Vovanchik commented on #32
Cool thank you ;)

[2016-07-07 14:52] Vovanchik opened #49 "CUCUMBER: Mark scenario as passed if you have undefined steps, but all other passed"
As we disсussed in issue #32 it will be good to have an option in the plugin config, that you can tick
so that undefined steps are ignored, and in a scenario if you have undefined steps, scenario will be marked as passed.

[2016-07-07 14:53] Vovanchik commented on #32
New issue #49 created.

[2016-07-12 10:38] BogdanLivadariu commented on #49
@Vovanchik  1.4.16 version of the plugin should have the enhancement in

[2016-07-13 06:54] Vovanchik commented on #49
Thank you. Will update and provide you feedback.

[2016-07-14 07:51] Vovanchik commented on #49
Updated plugin to the latest  1.4.16 version, but still don't see an option to mark scenario as PASSED if there are some undefined steps and no failed steps.

Could you please provide an info when it will be ready?

[2016-07-14 08:43] BogdanLivadariu commented on #49
![image](https://cloud.githubusercontent.com/assets/8307102/16833433/0584ecc2-49b8-11e6-9423-44598e0767e9.png)

@Vovanchik  you should see it just above

[2016-07-15 08:28] Vovanchik commented on #49
Hello,

For scenario everything look's good and work as expected.

In this case I think feature must be marked as PASSED as well. For details see:
![failed scenario](https://cloud.githubusercontent.com/assets/162919/16868190/eeccc55a-4a7e-11e6-9b53-77ce0e1993ab.png)

After testing I discovered a bug - that after setting checkbox in configuration near: "Undefined steps will not be taken into ..." i

[2016-07-15 09:16] BogdanLivadariu commented on #49
@Vovanchik right, will try to fix it ASAP :D

[2016-07-15 10:13] BogdanLivadariu commented on #49
@Vovanchik  [1.4.17](http://repo.jenkins-ci.org/releases/com/github/bogdanlivadariu/bootstraped-multi-test-results-report/1.4.17/) version of the plugin should have the bugfix in

[2016-07-18 08:26] Vovanchik commented on #49
Look's really good right now. Thank you for your help.

[2016-07-18 08:26] #49 closed

[2016-07-18 08:37] Vovanchik opened #53 "Faulty behavior of plugin settings"
When you set parameter "Undefined steps will not be taken into consideration when evaluating the scenario status" and click on Apply than this parameter is not stored after page is re-loaded.

**Steps to reproduce:**
1. Open plugin settings
2. Set "Undefined steps will not be taken into consideration when evaluating the scenario status"
3. Refresh page
**Result:**
Configuration not stored and chec

[2016-07-18 09:06] BogdanLivadariu commented on #53
@Vovanchik is this only happening for that specific checkbox ?

or it happens for the rest as well ?

[2016-07-18 09:13] Vovanchik commented on #53
It happens only on this specific checkbox: "Undefined steps will not be taken into consideration when evaluating the scenario status"

[2016-07-18 09:19] BogdanLivadariu commented on #53
@Vovanchik you are right, pushing the fix in [here](https://github.com/web-innovate/bootstraped-multi-test-results-report/pull/54)

[2016-07-18 09:20] Vovanchik commented on #53
Cool. Waiting for new release than :)

[2016-07-18 09:30] BogdanLivadariu commented on #53
@Vovanchik  [1.4.18](http://repo.jenkins-ci.org/releases/com/github/bogdanlivadariu/bootstraped-multi-test-results-report/1.4.18/) version of the plugin should have the bugfix in, once the it deploys :dancer:

[2016-07-21 07:06] BogdanLivadariu commented on #53
@Vovanchik any updates ? can you close the issue if the issue is fixed ?

[2016-07-21 08:20] Vovanchik commented on #53
Only yesterday plugin was available for upgrade. Will check it today-tomorrow and close the issue. Thank you for quick fix.

[2016-07-21 13:17] BogdanLivadariu opened #55 "Build history report"
request from: @romang12
[code]

provide a way to display the history status of a build,
clicking on a build status, will direct you towards the build test result report [cucumber|testNG|jUnit|rSpec]

[2016-07-22 06:59] Vovanchik commented on #53
Re-tested plugin on my builds. Everything work's as expected.

Thank you.

[2016-07-22 06:59] #53 closed

[2016-08-12 07:49] BogdanLivadariu commented on #12
tweak your `/etc/sysconfig/jenkins` file to add an extra property
`-Dhudson.model.DirectoryBrowserSupport.CSP=""`
so it might look similar to

[code]

[2016-08-17 12:21] #48 closed

[2016-09-14 09:09] michael-bryson opened #63 "java.lang.ClassCircularityError when publishing TestNG results"
I am trying to use the plugin to publish my testng results but I get the error below:
[code]
The testng-results.xml file is attached (extension renamed to txt)

[testng-results.xml.txt](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/471635/testng-results.xml.txt)

[2016-09-14 10:33] BogdanLivadariu commented on #63
@michael-bryson thanks for raising this thing,

I had a similar issue with junit reporting module, but did not managed to reproduce it locally,

will release a new version with the same fix, and hope this will get you going

will let you know when the new `hpi` is deployed

[2016-09-14 11:30] BogdanLivadariu commented on #63
@michael-bryson
I've released 1.4.22 version of the plugin,
you could download it from [here](http://repo.jenkins-ci.org/public/com/github/bogdanlivadariu/bootstraped-multi-test-results-report/1.4.22/) until jenkins spots a new version.

let me know if this fixes your problem.

[2016-09-14 12:56] michael-bryson commented on #63
@BogdanLivadariu downloaded and installed 1.4.22 but still getting the same error I'm afraid

[2016-09-14 13:01] BogdanLivadariu commented on #63
@michael-bryson have you restarted jenkins after updating the plugin ?
if yes, can you uninstall the plugin , and reinstall it again ?

[2016-09-14 13:17] michael-bryson commented on #63
@BogdanLivadariu Yes I restarted Jenkins after the install. I have tried an uninstall, reinstall and Jenkins restart again but same error is returned.

[2016-09-14 13:33] BogdanLivadariu commented on #63
@michael-bryson what version of jenkins to you use ?

[2016-09-14 13:59] michael-bryson commented on #63
@BogdanLivadariu Jenkins 1.636

[2016-09-15 06:28] BogdanLivadariu commented on #63
did some investigations, seems like a while back another user reported same problem
seems like 1.636 has some problems around classloader for plugins, at that time I recommended to downgrade jenkins to 1.625 , but I', pretty sure the problem might been fixed in a newer version

here is what that user reported

[code]
The most strange thing is that when I debug plugin locally on slave machine plugi

[2016-09-19 21:23] mareiou commented on #36
I am seeing the same error. I think the problem is how the path is configured...
In my case is looking for $jenkins_home/job/$name_of_workspace/$job_number/rspec-reports-with-handlebars/.
I think it should look for $jenkins_home/jobs/$name_of_workspace/builds/$job_number/rspec-reports-with-handlebars/xmlData

[2016-09-21 09:30] michael-bryson commented on #63
Hi, our Jenkins has been upgraded and I no longer get this error. However when I point to the testng-results.xml file and the build runs I do not get the nicely formatted reports, I only get the attached with a lot of errors in the console when using Chrome.
![testng_report](https://cloud.githubusercontent.com/assets/22191766/18705442/2a71791a-7fe6-11e6-83ae-21dfb9009808.png)

If I use IE I only g

[2016-09-21 11:41] BogdanLivadariu commented on #63
@michael-bryson what is the version of jenkins ?

this error appears because of jenkins security policy

I have an opened issue for that, along with some workarounds : https://github.com/web-innovate/bootstraped-multi-test-results-report/issues/12

[2016-10-12 10:08] #63 closed

[2016-12-04 11:46] Vovanchik opened #67 "Report not showing Cucumber table information"
Cucumber supports definition of parameters in table format. For example:
[code]
Please implement this enhancement, because very hard to read reports from jenkins.

Thnak you.

[2016-12-04 13:56] BogdanLivadariu commented on #67
Hi volodymyr,

Will have a look at as soon as i have the time.

Thanks.

On Dec 4, 2016 12:46 PM, "Volodymyr Koval" <notifications@github.com> wrote:

[2016-12-06 11:24] BogdanLivadariu commented on #67
@Vovanchik can you attach the `cucumber.json` report file ?
So I can see how the reports is generated at your end & do the proper enhancements.

Thanks.

[2016-12-06 15:32] Vovanchik commented on #67
Sure. Here is.

[code]

[2016-12-07 05:36] Vovanchik commented on #67
Here is as well original cucumber test
@DeletePerformedOutreachAssessment
  Scenario: User delete performed outreach for assessment on outreach view
    When User opens Chart an Outreach view
    And User fills Performed Date, duration "55", type "Home Visit", status "Contacted", contact "Patient" fields
    And User chooses item "PAA" from the 'Outreach related to' drop-down menu
    And User sub

[2016-12-07 13:53] BogdanLivadariu commented on #67
@Vovanchik what you you think if the report will display the table data as below ?
<img width="1187" alt="screen shot 2016-12-07 at 14 53 09" src="https://cloud.githubusercontent.com/assets/8307102/20970239/e5811bf6-bc8c-11e6-95a7-574996559141.png">

[2016-12-07 14:23] BogdanLivadariu commented on #67
@Vovanchik this should end up in version `1.4.24` of the plugin

[2016-12-07 16:38] Vovanchik commented on #67
Thank you very much. Waiting for release to be published on jenkins store.

[2016-12-07 16:40] BogdanLivadariu commented on #67
anytime, if you encounter any more problems, or you have suggestions, send them here :)

don't forget to close the issue once the problem is fixed ;)

[2016-12-12 08:39] Vovanchik commented on #67
Working as expected.

[2016-12-12 08:39] #67 closed

[2016-12-30 08:18] dantran opened #69 "maven artifacts are not usable"
all the poms have version set at ${project.version}

maven complains this
com.github.bogdanlivadariu:testng-reporting-handlebars:jar:1.0.8: Failure to find   com.github.bogdanlivadariu:bootstraped-multi-test-results-report-reactor-parent:pom:${parent.version} in http://ap-sc.lss.emc.com:8081/artifactory/public was cached in the local repository, resolution will not be reattempted until the update

[2017-01-13 20:09] vermut opened #70 "Pipeline integration"
I cannot find a way to call this from Pipeline's Jenkinsfile. Please advise

[2017-01-17 18:33] BogdanLivadariu commented on #70
At the moment the plugin does not support usage in pipeline, but I'll try to fit this request into my spare time

[2017-01-21 00:16] BogdanLivadariu commented on #70
plan to make pipeline usage available in #71
at the moment only testNG reporter is supported, hope to bring the rest up to speed as well

[2017-01-21 09:51] vermut commented on #70
Wow. Thanks. Looking forward to it. We are  mostly interested in rspec

[2017-01-21 10:45] BogdanLivadariu commented on #70
will try to make it tick in 2.0.1, in the mean time can you share a xml file to see if it really works ?

[2017-01-21 18:20] BogdanLivadariu commented on #70
rspec module as well as the rest, will have pipeline support from `2.0.1` version
@vermut check #72 for how to use pipeline support for rspec, until I update the readme sections :)

[2017-01-21 18:20] #70 closed

[2017-01-21 18:21] BogdanLivadariu commented on #12
from `2.0.1` plugin will comply with the security, no more tweaking should be required :)

[2017-01-21 18:21] #12 closed

[2017-01-21 18:22] BogdanLivadariu commented on #69
@dantran latest code, should have this problem fixed , can you confirm ?

[2017-01-22 05:02] dantran commented on #69
it works. Thanks

[2017-01-22 05:02] #69 closed

[2017-02-16 19:35] onurgokkocabas opened #74 "Generating a report out of an XML that has 0 test results throws a Null Pointer exception"
[code]

[2017-02-16 19:36] BogdanLivadariu commented on #74
@onurgokkocabas can you attach the xml file/files ?

[2017-02-16 20:04] onurgokkocabas commented on #74
NOTE:  Github does not support XML files as attachments, so I changed the extension to txt, change it back to xml please.

[postfix_rspec-results.txt](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/781390/postfix_rspec-results.txt)

library used to convert to junit format was 'yarjuf'

[2017-02-17 06:15] BogdanLivadariu commented on #74
@onurgokkocabas if your test results are converted to junit, then you can use the junit reporter for them.

from how the results you uploaded look like, have you altered them in any way ? as it does not have any test there, is just a blank testsuite.

If you can share with me the rspec initial report files that would be awesome ... as I've never got my hands on one in a while
if you don't want to

[2017-02-17 14:08] onurgokkocabas commented on #74
no, its ok.  that's exactly what it is though.  Empty report throws an exception during parsing.
[x.txt](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/783368/x.txt)

[2017-02-17 14:17] onurgokkocabas commented on #74
Similar odd issue with an empty test suite from JUnit Report too:
[code]

[2017-02-17 17:53] BogdanLivadariu opened #75 "In case you have 0 tests ran, provide a placeholder page"
it would be nice to have a placeholder page when no tests have run

[2017-02-17 18:14] BogdanLivadariu commented on #74
@onurgokkocabas the issue you've reported will get fixed in https://github.com/web-innovate/bootstraped-multi-test-results-report/pull/76

and will be contained in the next release `2.0.2`

[2017-02-17 18:24] onurgokkocabas commented on #74
@BogdanLivadariu thanks a lot !

[2017-02-17 18:39] BogdanLivadariu commented on #74
@onurgokkocabas  I've just released `2.0.2`
you can wait for jenkins to pick it up in the auto update
or you can download it from [here](http://repo.jenkins-ci.org/public/com/github/bogdanlivadariu/bootstraped-multi-test-results-report/2.0.2/bootstraped-multi-test-results-report-2.0.2.hpi) and install it manually

after you upgrade, and if the issue is fixed please close the issue

thanks.

p.s. l

[2017-02-17 18:53] #74 closed

[2017-02-17 19:37] BogdanLivadariu opened #77 "add support to manage overview table data"
similar to :
<img width="905" alt="screen shot 2017-02-17 at 21 36 35" src="https://cloud.githubusercontent.com/assets/8307102/23080421/4505408e-f559-11e6-8145-01273264cf6c.png">

[2017-02-22 11:45] #77 closed

[2017-02-23 11:05] Muschasgrazias opened #80 "Cucumber duration isn't showing up"
Hi,

I tried to use your plugin with an official cucumber json file:
[docs](https://www.relishapp.com/cucumber/cucumber/docs/formatters/json-output-formatter)
one feature, one passing scenario, one failing scenario `@spawn` was the one I used.
But in the report the duration is always 0.

Kind regards

[2017-02-23 11:12] BogdanLivadariu commented on #80
@Muschasgrazias I'll look into it
sounds like a great catch :)
I'll get back to you with the fix

[2017-02-23 12:13] BogdanLivadariu commented on #80
@Muschasgrazias
I have never tried having `1` in the duration field :D
the values in that report I think they were manually changed.

having just `1`  there would mean to display the `nanoSeconds` which is not supported in the plugin.

give it a spin with a real generated report your framework dumps and you should not have any problems

[2017-02-23 14:11] #80 closed

[2017-03-01 15:18] onurgokkocabas opened #81 "Columns do not align with results"
Looks like there is an extra grid which falls under 'tests' that pushes the grid out and it becomes misaligned on the report.
[Test suites overview.pdf](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/811131/Test.suites.overview.pdf)

[2017-03-02 14:42] #81 closed

[2017-03-02 14:42] onurgokkocabas commented on #81
fixed - thank you

[2017-03-24 07:11] BogdanLivadariu opened #83 "add support for squish test results"

[2017-04-09 11:06] stengvac opened #84 "Broken link at https://wiki.jenkins-ci.org/"
Changes links are broken.

see https://wiki.jenkins-ci.org/display/JENKINS/Bootstraped+Multi+Test+Results+Report

[2017-12-29 04:20] veenone opened #87 "add support to refer on locally configured bootstrap"
Please add support on the api to use locally installed bootstrap / datatables / jquery .
This will be helpful if the jenkins server is not connected to the internet at all (as in my case)

[2018-07-25 13:27] cryptton2004 opened #88 "Variables are ignored when passed in the 'XML Reports Path' field"
I'm trying to pass the folder holding the results for the current job, but it seems that the "BUILD_NUMBER" variable is ignored. I tried:
`XML Reports Path: apiTests\reports\$BUILD_NUMBER\**\*.xml`
`XML Reports Path: apiTests\reports\${BUILD_NUMBER}\**\*.xml`
`XML Reports Path: apiTests\reports\%BUILD_NUMBER%\**\*.xml`

Environment is: **Windows**
The output is:
`[JUnitReportPublisher] Compiling J

[2018-07-25 13:37] BogdanLivadariu commented on #88
Hi @cryptton2004
have you tried just to provide: `apiTests\reports\**\*.xml`

[2018-07-25 14:09] cryptton2004 commented on #88
Yeah, that doesn't work either, it gives me the same error. I also tried:
`XML Reports Path: apiTests\reports\`
with
`File Include Pattern: **\*.xml`
But this seems to go through all the jobs, take all the results and copy them to the current build. Is this the intended behavior? Because this will crash eventually on my system as we have thousands result files per job and this method seems to dupl

[2018-07-25 14:51] BogdanLivadariu commented on #88
the pattern there goes through the workspace of the current job, not through all of the jobs

[2018-07-26 07:45] BogdanLivadariu commented on #87
duplicate of #6

[2018-07-26 07:45] #87 closed

[2018-07-26 09:02] cryptton2004 commented on #88
I was probably not very clear in my previous posts. Sorry for that.
The pattern goes through the workspace. That is correct. The workspace however doesn't belong to a specific job. It's just a directory used for building stuff. It can be wiped (or not) by the latest job, depending on the implementation one uses. In our case, we're not wiping out the data and we're not archiving the artifacts. We'r

[2018-08-20 09:06] BogdanLivadariu commented on #88
at the moment the pattern does not handle env variables, but I can make it work
how urgent do you need it @cryptton2004

[2018-10-18 13:21] rlapensee opened #89 "Skipped Tests Mark Build as Unstable"
I would like to know the rationale behind making a build unstable when tests are skipped? Could you remove this logic?

[2019-02-09 16:27] dantran opened #90 "Option to keep test report using runtime order"
Possible to display the report using the same sequence of test how to testng.xml. Assume no parallelism  here

[2019-02-10 14:33] BogdanLivadariu commented on #90
@dantran in order to make things go faster, can you provide a sample xml results file and the order in which the tests ran ?

I’m pretty sure this used to work like this, but when I addes the filtering features this got broke

[2019-02-10 16:50] dantran commented on #90
to be clearer, what I need is  'testByNameReport' and keep the order showing up in the testng-results.xml.  This way we can use the report to view  test steps

Also note, the report does not track TestNG test suite, if it does we should see multiple sections

do you still need sample testng-results.xml?

[2019-02-10 19:54] BogdanLivadariu commented on #90
@dantran please attach it, I’ll try to wrapp it up under a new section which will have the reports as they are in the xml file

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-02-11 06:53] dantran commented on #90
attached is sample testng-results.txt ( xml file) with multiple suites

[testng-results.txt](https://github.com/web-innovate/bootstraped-multi-test-results-report/files/2850058/testng-results.txt)

[2019-10-03 17:10] HenningL opened #91 "Using the plugin multiple times for different steps in pipeline gives 403"
We tried to use the plugin in 2 different steps ( unit testing, integration testing). 2 Links get generated but both links dont navigate but gives a 403 forbidden. Using it only once, it is working again.

[2020-02-07 16:29] DustinOgan commented on #88
@BogdanLivadariu see this has gotten a bit stale.  If its not still on your roadmap, I can poke around and see if its something i can get working locally and submit as a fork/PR

[2021-02-08 14:51] scottmarlow opened #92 "Please consider adding Java SE 11 support to avoid ClassNotFoundException: com.sun.xml.internal.bind.v2.ContextFactory"
As mentioned on https://bugs.eclipse.org/bugs/show_bug.cgi?id=570751, we are seeing:
[code]

[2021-11-04 08:57] davideciani commented on #92
Any chance to have this fixed?

[2021-12-02 14:10] alwin-joseph commented on #92
I see branch `jdk11` which possibly fixes this issue (?). Will there be a new release with this fix ?  Are there any workarounds that can be used till then.

This would enable our Jenkins jobs that runs with jdk11+ to publish user friendly Junit reports

[2021-12-13 09:03] mbarbero opened #101 "Plugin is vulnerable to CVE-2021-4428 (log4j / log4shell)"
Running the commands from https://www.jenkins.io/blog/2021/12/10/log4j2-rce-CVE-2021-44228/ marks Jenkins instances with the bootstraped-multi-test-results-report plugin as vulnerable. Please release a fixed version.

[2021-12-13 09:09] BogdanLivadariu commented on #101
it will be fixed in the next version, as log4j will be upgraded to 2.15.0
https://github.com/web-innovate/bootstraped-multi-test-results-report/pull/100

[2021-12-13 11:08] BogdanLivadariu commented on #92
it will get in, soon, hopefully this week

[2021-12-17 15:56] jpralves commented on #101
Upgrade to version 2.16.0

[2021-12-20 12:36] BogdanLivadariu commented on #101
will bump it to 2.17.0 @jpralves

[2021-12-20 14:08] #84 closed

[2021-12-20 14:09] #83 closed

[2021-12-20 14:10] BogdanLivadariu commented on #92
in the next days, 2.2.0 will be released, which will address this issue

[2021-12-20 14:10] BogdanLivadariu commented on #101
in the next days, 2.2.0 will be released, and it will cover this vulnerability

[2021-12-21 10:11] BogdanLivadariu commented on #101
2.2.1 has just been released, which includes updating usage of log4j to 2.17.0

[2021-12-21 10:11] #101 closed

[2021-12-21 10:12] BogdanLivadariu commented on #92
2.2.1 as been released, and does include compat with jdk11, please check and reopen if any issues are still present

thanks

[2021-12-21 10:12] #92 closed

[2022-01-12 18:03] fredg02 opened #104 "Please update to latest log4j version (2.17.1) and consider removing it completely"
"Apache Log4j2 versions 2.0-beta7 through 2.17.0 (excluding security fix releases 2.3.2 and 2.12.4) are vulnerable to a remote code execution (RCE) attack where an attacker with permission to modify the logging configuration file can construct a malicious configuration using a JDBC Appender with a data source referencing a JNDI URI which can execute remote code. This issue is fixed by limiting JND